.header-wrapper {
  width: 920px;
  margin: auto;
  background: #0f1515;
  background: radial-gradient(to right, #000000, #6b2e2e);
}
.header-wrapper__header {
  display: flex;
  /* flex-direction: column; */
  height: 5rem;
  justify-content: space-around;
  align-items: center;
}
.header__link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 22px;
}