
.header-bottom-wrapper {
  width: 100vh;
  background: #0f1515;
  background: radial-gradient(to right, #0f1515, #120c53);
}
.header-bottom-wrapper__header {
  display: flex;
  height: 5rem;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
  color: white
}