.translation-wrapper {
   display: flex;
   background: rgb(255, 255, 255, 0.7);;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
    color: rgb(0, 0, 0);
    width: 100vh;
  margin: auto;
  height: 100vh;
}
.translation-wrapper-general__text {
  display: flex;
  font-size: 25px;
  flex-direction: column;
  align-items: center;
  max-width: 80vh;
  margin: auto;
  padding: auto;
word-break: keep-all;
}

.href__style-div {
  display:flex;
  justify-content: center;
  margin: 3rem;
  /* background-color: darkorange; */
  /* width: 400px; */
  height: 40px;
}

.href__style-link {
  margin: 3rem;
    text-decoration-color: darkmagenta;
    color: rgb(113, 73, 165);
    font-size: 30px
}

.href__style-link:hover {
    color: rgb(255, 0, 157);
}