
.wrapper-address-components {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
  height: 550px
}

.address__component {
  display: flex;
  flex-direction: column;
width: 220px;
margin: 1rem;
}

.address__component-name {
  font-size: 25px
}