

.address-wrapper{
   display: flex;
   background: rgb(255, 255, 255, 0.7);;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
    color: rgb(0, 0, 0);
    max-width: 100vh;
  margin: auto;
  height: 100vh;
}