/* body {
  font-family: wfont_9f63ca_c196cc9274334be1b056cf7b91ed4d0f,wf_c196cc9274334be1b056cf7b9,orig_neusabold;
  background-image: url(./images/9f63ca_15a90182dc774ae18842ae718d29f6e9_mv2.webp);
} */

.app-wrapper {
  background-image: url(./images/9f63ca_15a90182dc774ae18842ae718d29f6e9_mv2.webp);
  /* height: 100vw; */
  /* width: 100vh; */
}