body {
  font-family:Comic Sans MS, Comic Sans, cursive;
  background-image: url(./images/9f63ca_15a90182dc774ae18842ae718d29f6e9_mv2.webp);
  width: 1080px;
}

.App-wrapper {
  display: flex;
  /* flex-direction: column; */
 /* width: 100%; */
  text-align: center;
  align-items: center;
  justify-content: center;
    color: white;
    /* height: 750px */
}

.App-wrapper__general-text {
  display: flex;
  font-size: 25px;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  width: 800px;
  margin: 2rem;
  height: 550px;
padding : auto;
margin-bottom: 2rem;
  /* height: 630px; */
}
